html{
    font-family: 'Raleway','Arial', 'Helvetica','sans-serif';

}

body{    
    margin: 5px;

}


/* --------------------------------Style the Nav top ----------------------------------------------*/
.title{    
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 0 black;
}

.topnav {
    display: inline;
    margin: 20px 100px 20px 0; 
}

.topnav .inscription a{
    text-decoration: none;
}

.topnav .topnav-right a {

    padding: 14px 16px;
    font-size: 17px;
    text-decoration: none;
}
.logo-picture{
    float: left;
    margin: 0 120px 20px 20px;

}
.inscription{
    float: right;
    margin-top: 15px;

}
#signin{
    font-weight: bold;   
    border: none;
    color: #0065fc;

}
.logo{
    display: inline-block;
    height: 50px;
    margin-top: 20px;
}

/* -----------------------------Style the nav-bottom --------------------------------------------*/
.topnav-right{
    margin-top: 20px;
}


.topnav-text-hebergement{

    float: left;
    width: 185px;
    text-align: center;
    border-bottom: 3px solid #f2f2f2;
    padding-bottom: 10px;


}
.topnav-text-activite{
    float: right;
    width: 180px;
    text-align: center;
    border-bottom: 3px solid #f2f2f2;
    padding-bottom: 10px;
}





/* ------------------------For the  active/current Nav------------------------------------------- */

.topnav-text-hebergement:hover {
    border-bottom: 5px solid #0065fc;
    color: #0065fc;
}
.hebergement-active:hover {
    color: #0065fc;
}

.topnav-text-activite:hover {
    border-bottom: 5px solid #0065fc;
    color: #0065fc;
}
.activite-active:hover {   
    color: #0065fc;
}

/*--------------------------Style Headers Search----------------------------------------------------------*/
.header-title{
    font-weight: bold;
    display: block;
    margin-left: 10px;
    font-size: 25px;
    text-shadow: 0 0 black;
}
.header-text{
    margin: 10px 0 40px 10px;
}
.container-header {
    display: flex;
    background-color: #f2f2f2;
    border-radius: 20px 20px 20px 20px;
    margin-left: 10px;
    padding: 0;

}

.flex {
    padding: 10px;  
    border: 5px solid #0065FC;
    font-size: 20px;
    text-align: center;

}
.home{
    background-color: #f2f2f2;
    border: 5px solid #f2f2f2;

}

#adress-text{
    background-color: white;
    border: 2px solid #f2f2f2;
    padding-left: 20px;
    font-weight: bold;
    font-size: 20px;
    width: 200px;
    font-family: 'Raleway','Arial', 'Helvetica','sans-serif';

}

.rechercher{
    background-color : #0065FC;
    border-radius: 15px;
    color: white;
}


/*--------------------------Style Headers Filtering---------------------------*/
.filtre, .filtre-label{
    display: block;
    margin: 20px 0 10px 10px;
    font-size: 20px;
    font-weight: bold;
}

.cadre{
    display: inline-block;
    height: 50px;     
    border-radius: 25px;
    border-top:  1px solid   #d9d9d9;
    border-bottom:   1px solid   #d9d9d9;
    border-right:  1px solid   #d9d9d9;
    border-left: none;
    margin-top: 20px;
}
.cadre-economie{
    float: left;
    border-radius: 25px;
    border-top:  1px solid   #d9d9d9;
    border-bottom:   1px solid   #d9d9d9;
    border-right:  1px solid   #d9d9d9;
    border-left: none;
}
.cadre-famille{
    float: right;
    border-radius: 25px;
    border-top:  1px solid   #d9d9d9;
    border-bottom:   1px solid   #d9d9d9;
    border-right:  1px solid   #d9d9d9;
    border-left: none;
}

.cadre:hover, .cadre-economie:hover, .cadre-famille:hover{
    background-color: #deebff;
}

.filtre-logo-container{
    display: inline-block;
    border-radius: 25px;
    background-color: #deebff;
    width: 50px; 
    height: inherit;
    vertical-align: middle;
}

.filtre-logo{
    font-size: 20px;
    text-align: center;
    margin: 15px;
    color: #0065fc;
}

.filtre-text-container{
    display: inline-block;
    padding-right: 20px;       
    font-weight: bold;
    font-size: 20px;
    border-radius: 25px;
}

.info-container{
    margin: 30px 0 30px 0;
}

.info-label{
    display: inline-block;
    border-radius: 30px;
    border: 1px solid #deebff;
    width: 30px;
    height: 30px;
    font-size: 15px;
    text-align: center;
    margin: 0 10px 0 10px;
    float: left;


}

.info-text{
    display: inline-block;
    width: 300px;
}
.info-text-p{

    display: inline;
    font-size: 15px;
}

.info-logo{   
    color: #0065FC;
    vertical-align: sub;

}


/*--------------------------Style Section 1 Hebergement---------------------------*/
.box1{
    display: contents;
}

#ancre-hebergements{
    font-weight: bold;    
    margin: 40px 0 30px 20px;
    display: block;
}

.clic-card{
    text-decoration: none;
    color: black;
}

.activite-title, .afficher-plus{
    margin: 40px 0 0 10px;

}

.column-hebergement {
    margin: 0 0px 40px 0px;
}

.row-hebergement-1:after {
    content: "";
    display: table;
    clear: both;
}


.card-hebergement {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0 0px 16px 0px;
    margin: 15px;
    text-align: center;
    width: 325px;
    height: 200px;
    border-radius:10px;

}

.hebergement-picture{
    width: 325px;
    height: 114px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}

.card-text{
    text-align: left;
    margin-left: 20px 
}

.checked {
    color:  #0065FC;
}

.nochecked{
    color:#D3D3D3;
    margin-bottom: 20px;

}

.rating-hebergement{
    margin: 10px 0 0 0;
}

.text-card{
    display: block;
    margin: 10px 0 15px 0;
}

.afficher-plus{
    margin: 0 0 40px 10px;

}

/*--------------------------Style Section 1 Populaire---------------------------*/
.h2-title-populaire{
    margin: 40px 40px 40px 20px;
    font-weight: bold;
    float: left;

}

.chart-logo{
    font-size: 30px;
    text-align: center;
    margin: 40px 10px 0 0;
    float:right;

}
.box2{
    background-color: #F2F2F2;
    height: 650px;
    border-radius: 20px;
}

.column-populaire{
    background-color: #F2F2F2;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-populaire {
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 5px 0 5px 5px;
    margin: 0 0 20px 10px;
    text-align: left;
    background-color: #f2f2f2;
    width: 340px;
    height: 140px;
    border-radius: 10px;
}

.populaire-picture{
    float:left;
    padding: 1px;
    margin-right: 20px;
    width: 130px;
    height: 133px;
    border-radius: 10px 0px 0px 10px;
    object-fit: cover;
}

.card-populaire-text{
    float:right;

    margin-left: 20px 
}

.rating-populaire{
    margin-top: 35px;
}


/*--------------------------Style Section 2 Activite---------------------------*/
.box3{
    width: 100%;

}

.row-activite-container {
    margin: 20px 10px 20px 10px;
}

.card-activite {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 250px;
    width: 345px;
    border-radius: 10px;
    margin-bottom: 40px;
}

.activite-picture{
    float:left;
    padding: 1px;
    margin-bottom: 30px;
    width: 344px;
    height: 181px;
    border-radius:  10px 10px 0px 0px;
    object-fit: cover;
}

.picture-large{
    width: 344px;
}


.text-activite{
    margin-left: 20px;
    text-align: left;
    font-weight: bold;

}


/*--------------------------Style Footer---------------------------*/
.box4{


    background-color: #F2F2F2;

}
.footer-propos,.footer-hebergement,.footer-assistance{
    margin-left: 20px;
    padding-top: 20px;
}


/* ------------------------Responsive ----------------------- */

@media only screen and (min-width: 667px){
    body{
        display: block;
        width: 100%;

    }
    .logo-picture {
        margin: 0 400px 20px 20px;
    }
    .topnav-text-hebergement {
        width: 333px;
    }
    .topnav-text-activite {
        width: 333px;
    }
    .header-title{
        display: inline-block;
        margin-top: 40px;
    }
    .container-header {
        width: fit-content;
    }
    .filtre, .filtre-label {
        display: inline-block;
    }
    .cadre-famille { 
        margin-right: 100px;
    }
    .cadre-romantique{
        margin-right: 200px;
    }
    .info-text {
        display: inline;

    }
    .box1 {
        display: table-cell;
        float: none;
    }
    .hebergement{
        display: inline;
    } 
    .box2{
        width: auto;  
        height: 750px;
    }
    .row-hebergement-1{
        margin: 40px;
    }
    .card-populaire {       
        width: 400px;
    }
    .h2-title-populaire {
        margin-left: 40px;    
    }
    .chart-logo {    
        margin-right: 110px;  
    }
    #ancre-hebergements {    
        margin-left: 40px;    
    }
    .afficher-plus, .activite-title {  
        margin-left: 20px;
    }
    .card-activite {
        margin-left: 30px;
    }
}