@font-face {
    font-family:'Raleway', sans-serif;

}

body{

    font-family: 'Raleway',Arial, Helvetica, sans-serif;
    margin: 5px;

}


/* --------------------------------Style the Nav top ----------------------------------------------*/
.topnav {
    display: inline;
    margin: 20px 100px 20px 0; 
}
.topnav a {
    color: #0065fc;
    padding: 14px 16px;
    font-size: 17px;
    text-decoration: none;
}
.logo-picture{
    float: left;
    margin: 0 120px 20px 20px;

}
.inscription{
    float: right;
    margin-top: 15px;
}
#signin{
    font-weight: bold;   
    border: none;
}
.logo{
    display: inline-block;
    height: 50px;
    margin-top: 20px;
}

/* -----------------------------Style the nav-bottom --------------------------------------------*/
.topnav-right{
    margin-top: 20px;
}


.topnav-text-hebergement{

    float: left;
    width: 160px;
    text-align: center;


}
.topnav-text-activite{
    float: right;
    width: 160px;
    text-align: center;
}





/* ------------------------For the  active/current Nav------------------------------------------- */
.topnav-text-hebergement:active {
    border-bottom: 5px solid #0065fc;
}
.topnav-text-activite:active {
    border-bottom: 5px solid #0065fc;
}


/*--------------------------Style Headers Search----------------------------------------------------------*/
.header-title{
    font-weight: bolder;
    display: block;
    margin-left: 10px;
}
.header-text{
    margin-left: 10px;
}
.container-header {
    display: flex;
    background-color: #f2f2f2;
    border-radius: 20px 20px 20px 20px;
    margin-left: 10px;
    padding: 0;

}

.flex {
    padding: 10px;  
    border: 5px solid #0065FC;
    font-size: 20px;
    text-align: center;

}
.home{
    background-color: #f2f2f2;
    border: 5px solid #f2f2f2;

}

#adress-text{
    background-color: white;
    border: 2px solid #f2f2f2;
    padding-left: 20px;
    font-weight: bold;
    font-size: 20px;
    width: 200px;

}

.rechercher{
    background-color : #0065FC;
    border-radius: 15px;
    color: white;
}


/*--------------------------Style Headers Filtering---------------------------*/
.filtre, .filtre-label{
    display: block;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

.cadre{
    display: inline-block;
    height: 50px;     
    border-radius: 25px;
    border-top:  1px solid   #d9d9d9;
    border-bottom:   1px solid   #d9d9d9;
    border-right:  1px solid   #d9d9d9;
    border-left: none;
    margin-top: 20px;
}
.cadre-economie{
    float: left;
    border-radius: 25px;
    border-top:  1px solid   #d9d9d9;
    border-bottom:   1px solid   #d9d9d9;
    border-right:  1px solid   #d9d9d9;
    border-left: none;
}
.cadre-famille{
    float: right;
    border-radius: 25px;
    border-top:  1px solid   #d9d9d9;
    border-bottom:   1px solid   #d9d9d9;
    border-right:  1px solid   #d9d9d9;
    border-left: none;
}

.cadre:hover{
    background-color: #deebff;
}

.filtre-logo-container{
    display: inline-block;
    border-radius: 25px;
    background-color: #deebff;
    width: 50px; 
    height: inherit;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
}

.filtre-logo{
    font-size: 20px;
    text-align: center;
    margin: 15px;
}

.filtre-text-container{
    display: inline-block;
    padding-right: 20px;       
    font-weight: bold;
    font-size: 20px;
    border-radius: 25px;
}

.info-container{
    margin: 30px 0 30px 0;
}

.info-label{
    display: inline-block;
    border-radius: 30px;
    border: 1px solid #deebff;
    width: 30px;
    height: 30px;
    font-size: 15px;
    text-align: center;
    margin: 0 10px 0 10px;
    float: left;

}

.info-text{
    display: inline-block;
    width: 300px;
}
.info-text-p{

    display: inline;
    font-size: 15px;
}

.info-logo{   
    color: #0065FC;
    vertical-align: sub;

}


/*--------------------------Style Section 1 Hebergement---------------------------*/
.box1{
    display: contents;
}

.clic-card{
    text-decoration: none;
    color: black;
}

.h2-title, .afficher-plus{
    margin-left: 10px;
    font-weight: bolder;
}

.column-hebergement {
    margin: 0 0px 40px 0px;
}

.row-hebergement-1:after {
    content: "";
    display: table;
    clear: both;
}


.card-hebergement {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f2f2f2;
    width: 325px;
    height: 200px;
    border-radius:10px;

}

.hebergement-picture{
    width: 325px;
    height: 114px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}

.card-text{
    text-align: left;
    margin-left: 20px 
}

.checked {
    color:  #0065FC;
}

.nochecked{
    color:#D3D3D3;
    margin-bottom: 20px;

}

.rating-hebergement{
    margin: 15px 0 0 0;
}

.title-card{
    margin: 0 0 15px 0;
}

.afficher-plus{
    margin: 0 0 40px 10px;
    font-weight: bolder;
}

/*--------------------------Style Section 1 Populaire---------------------------*/
.h2-title-populaire{
    margin: 40px 40px 40px 20px;
    font-weight: bold;
    float: left;

}
.chart-logo{
    font-size: 30px;
    text-align: center;
    margin: 40px 10px 0 0;
    float:right;

}
.box2{
    background-color: #F2F2F2;
    height: 650px;
    border-radius: 20px;
}

.column-populaire{
    background-color: #F2F2F2;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-populaire {
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 5px 0 5px 5px;
    margin: 0 0 20px 10px;
    text-align: left;
    background-color: #f2f2f2;
    width: 340px;
    height: 140px;
    border-radius: 10px;
}

.populaire-picture{
    float:left;
    padding: 1px;
    margin-right: 20px;
    width: 130px;
    height: 133px;
    border-radius: 10px 0px 0px 10px;
    object-fit: cover;
}

.card-populaire-text{
    float:right;

    margin-left: 20px 
}

.rating-populaire{
    margin-top: 35px;
}


/*--------------------------Style Section 2 Activite---------------------------*/
.box3{
    width: 100%;

}

.row-activite-container {
    margin: 20px 10px 20px 10px;
}

.card-activite {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 250px;
    width: 345px;
    border-radius: 10px;
    margin-bottom: 40px;
}

.activite-picture{
    float:left;
    padding: 1px;
    margin-bottom: 30px;
    width: 344px;
    height: 181px;
    border-radius:  10px 10px 0px 0px;
    object-fit: cover;
}

.picture-large{
    width: 344px;
}


.text-activite{
    margin-left: 20px;
    text-align: left;
    font-weight: bold;

}


/*--------------------------Style Footer---------------------------*/
.box4{

    margin-left: 20px;

}



/* ------------------------Responsive ----------------------- */
/*
@media only screen and (max-width: 1650px){
    body{
        display: block;
        width: 100%;

    }
    .box1 {
        display: table-cell;
        float: none;
    }
    .hebergement{
        display: inline;
    } 
    .box2{
        display: block;
        float: none;
    }
}

@media only screen and (max-width: 1400px) {
    .box3 {
        display: inline-block;
        float: none;
    }
    .row-activite-container{
        grid: none;
        display: block;
    }
    .card-Vieux-port, .card-Pomegues, .card-Calangues, .card-Dame-de-la-garde, .card-Frioul, .card-Longchamps{
        margin-top: 20px;
    }
    .footer-propos, .footer-hebergement,.footer-assistance{
        float: none;
        display: contents;
    }
}
@media only screen and (max-width: 1129px) {
    body{
        margin: 1em;
        width: auto;
    }
    .filtre, .filtre-label {
        display: block;
    }
    .cadre{
        margin-top: 10px;
        display: table;
    }
    .info-container {
        display: initial;
    }  
}
@media only screen and (max-width: 1100px) {
    .topnav a, .topnav-right {
        float: none;

    }
    .navbar a {
        float: none;
        display: inline;
    }
    .box1{
        width: 880px;
    }
}
@media only screen and (max-width: 760px) {

    .topnav a, .topnav-right {

        display: block;
    }

    .filtre, .filtre-label {
        float: none;

    }
    .box1{
        width: 480px;
    }
}
@media only screen and (max-width: 620px) {
    header h2{
        display: table-caption;
    }

    .info-container {
        white-space: nowrap;
        display: initial;
    }
    .info-label{
        display: block;
        float: left;
    }
    .info-text{
        display: table-caption;
    }
    .info-text-p {
        white-space: break-spaces;
    }
}

@media only screen and (max-width: 500px) {
    .container-header{
        display: inline-block;
        width: 15em;
        overflow: inherit;
    }
    .home{
        width: inherit;
    }
    .rechercher{
        width: inherit;
    }
    .box1{
        width: 380px;
    }
    .box2{
        width: 380px;
    }
    .card-populaire{
        width: 330px;
    }
    .h2-title-populaire {
        margin-right: 20px;
    }


}
*/