html{
    font-family: 'Raleway','Arial', 'Helvetica','sans-serif';
}

body{   
    display: block;   
    margin: 0;
}




/* --------------------------------Style the Nav top ----------------------------------------------*/
.title{    
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 0 black;
}

.topnav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1.7fr 0.3fr;
    gap: 20px 0px;
    grid-template-areas:
        "logo . . inscription"
        "Hébergement Hébergement Activite Activite";    
}


.topnav .inscription a{
    text-decoration: none;
}

.topnav .topnav-right a {
    padding: 14px 16px;
    font-size: 17px;
    text-decoration: none;
}

.logo-picture{
    grid-area: logo;
    margin: 20px 0px 0px 20px;
}

.inscription{
    grid-area: inscription;     
    margin: 35px 25px 0px 0;
}

#signin{
    font-weight: bold;   
    border: none;
    color: #0065fc;
}

.logo{
    display: inline-block;
    height: 50px;
    margin-top: 20px;
}

/* -----------------------------Style the nav-bottom --------------------------------------------*/
.hebergement-active,.activite-active{
    text-decoration: none;
}

.topnav-text-hebergement{
    grid-area: Hébergement; 
    width: 100%;
    text-align: center;
    border-bottom: 3px solid #f2f2f2;
    padding-bottom: 10px;
}

.topnav-text-activite{
    grid-area: Activite; 
    width: 100%;
    text-align: center;
    border-bottom: 3px solid #f2f2f2;
    padding-bottom: 10px;
}





/* ------------------------For the  active/current Nav------------------------------------------- */

.topnav-text-hebergement:hover {
    border-bottom: 5px solid #0065fc;
    color: #0065fc;
}
.hebergement-active:hover {
    color: #0065fc;
}

.topnav-text-activite:hover {
    border-bottom: 5px solid #0065fc;
    color: #0065fc;
}
.activite-active:hover {   
    color: #0065fc;
}

/*--------------------------Style Headers Search----------------------------------------------------------*/
.header-title{
    font-weight: bold;
    display: block;
    margin: 20px 0 0 20px;
    font-size: 25px;
    text-shadow: 0 0 black;
}
.header-text{
    margin: 10px 0 40px 20px;
}
.container-header {
    display: flex;
    background-color: #f2f2f2;
    border-radius: 20px 20px 20px 20px;
    margin-left: 20px;
    padding: 0;   
    width: 100px;
}

.flex {
    padding: 10px;  
    border: 5px solid #0065FC;
    font-size: 20px;
    text-align: center;
    border-radius: 15px 0 0 15px;
}

.home{
    background-color: #f2f2f2;
    border: 5px solid #f2f2f2;

}

#adress-text{
    background-color: white;
    border: 2px solid #f2f2f2;
    padding-left: 20px;
    font-weight: bold;
    font-size: 20px;
    width: 200px;
    width: -moz-available;
    font-family: 'Raleway','Arial', 'Helvetica','sans-serif';

}


#adress-text::placeholder{
    color: black;
}

.rechercher{
    background-color : #0065FC;
    border-radius: 15px;
    color: white;
}
.desktop-only{
    display: none;
}


/*--------------------------Style Headers Filtering---------------------------*/
.filtre, .filtre-label{
    display: block;
    margin: 20px 0 10px 20px;
    font-size: 20px;
    font-weight: bold;
}

.cadre{
    display: inline-block;
    height: 50px;     
    border-radius: 25px;
    border-top:  1px solid   #d9d9d9;
    border-bottom:   1px solid   #d9d9d9;
    border-right:  1px solid   #d9d9d9;
    border-left: none;
    margin: 10px 0px 10px 0;
}

.cadre:hover{
    background-color: #deebff;
}

.filtre-logo-container{
    display: inline-block;
    border-radius: 25px;
    background-color: #deebff;
    width: 50px; 
    height: inherit;
    vertical-align: middle;
}

.logo-economie{
    margin: 15px 15px 15px 10px;
}
.logo-familial{
    margin: 15px 13px 15px 18px;
}
.logo-romantique{
    margin: 15px;
}
.logo-animaux{
    margin: 15px 18px 15px 13px;
}

.filtre-logo{
    font-size: 20px;
    text-align: center;    
    color: #0065fc;
}

.filtre-text-container{
    display: inline-block;
    padding-right: 20px;       
    font-weight: bold;
    font-size: 20px;
    border-radius: 25px;
}

.info-container{
    margin: 30px 0 30px 0;    
    display: flex;
}

.info-label{
    display: inline-block;
    border-radius: 30px;
    border: 1px solid #deebff;
    width: 30px;
    height: 30px;
    font-size: 15px;
    text-align: center;
    margin: 0 10px 0 10px;
    float: left;
}

.info-text{
    display: inline-block;
    width: 300px;
    font-weight: bold;
}
.info-text-p{    
    display: inline;
    font-size: 15px;
}

.info-logo{   
    color: #0065FC;
    vertical-align: sub;

}


/*--------------------------Style Section 1 Hebergement---------------------------*/
.box1{
    display: contents;
}

#ancre-hebergements{
    font-weight: bold;    
    margin: 40px 0 30px 20px;
    display: block;
}

.clic-card{
    text-decoration: none;
    color: black;
}

.activite-title, .afficher-plus{
    margin: 40px 0 0 10px;

}

.column-hebergement {
    margin: 0 0px 40px 0px;
}

.row-hebergement-1:after {
    content: "";
    display: table;
    clear: both;
}


.card-hebergement {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0 0px 16px 0px;
    margin: 10px 15px 0 15px;
    text-align: center;
    width: 330px;
    height: 200px;
    border-radius:20px;
    background-color: white;

}

.hebergement-picture{
    width: 310px;
    height: 114px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    padding: 5px;
}

.rating-hebergement,.rating{
    font-size: smaller;
    flex: auto;
    display: flex;
}

.card-text{
    text-align: left;
    margin-left: 20px 
}

.checked {
    color:  #0065FC;
}

.nochecked{
    color:#D3D3D3;
    margin-bottom: 20px;

}
.text-card{
    display: block;
    margin: 10px 0 15px 0;
}

.afficher-plus{
    margin: 0 0 50px 50px;

}

/*--------------------------Style Section 1 Populaire---------------------------*/
.h2-title-populaire{
    margin: 40px 40px 30px 20px;
    font-weight: bold;
    float: left;

}

.chart-logo{
    font-size: 30px;
    text-align: center;
    margin: 40px 20px 0 0;
    float:right;

}
.box2{
    background-color: #F2F2F2;
    height: 620px;
    border-radius: 20px;
}

.column-populaire{
    background-color: #F2F2F2;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-populaire {
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 5px 0 5px 5px;
    margin: 0 0 10px 10px;
    text-align: left; 
    width: 335px;
    height: 145px;
    border-radius: 20px;
    background-color: white;
}
h3{
    margin: 0;
}

.populaire-picture{
    float:left;
    padding: 1px;
    margin-right: 10px;
    width: 130px;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
}

.card-populaire-text{
    float:right;

    margin-left: 20px 
}

.text-card-populaire{
    display: block;
    margin: 10px 0 15px 0;
}

.rating-populaire-soleil,.rating-populaire-bleu{
    margin-top: 50px;
}
.rating-populaire-chambre{
    margin-top: 50px;
}


/*--------------------------Style Section 2 Activite---------------------------*/
.box3{
    width: 98%;
    margin: 0 20px 0 0;
    margin-top: 60px;
}

.row-activite-container {
    margin: 20px 10px 20px 10px;
}

.card-activite {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 335px;
    height: 190px;
    border-radius: 20px;
    margin-bottom: 40px;
    background-color: white;
}

.activite-picture{
    float:left;
    padding: 1px;
    margin-bottom: 20px;
    width: 100%;
    height: 135px;
    border-radius:  20px 20px 0px 0px;
    object-fit: cover;
}

.text-activite{
    margin: 0 0 40px 20px;
    text-align: left;
    font-weight: bold;

}


/*--------------------------Style Footer---------------------------*/
.box4{
    background-color: #F2F2F2;
    margin-top: 60px;
}
.footer-propos,.footer-hebergement,.footer-assistance{
    margin-left: 30px;
    padding-top: 20px;
}


/* ------------------------Responsive ----------------------- */
@media only screen and (min-width: 300px ) and ( max-width: 374px){
    .page-container{
        margin: 0;        
    }
    .card-populaire{
        width: 300px;
    }   
    .card-hebergement {
        margin: 0;
    }
    .rating-populaire-chambre {
        margin-top: 40px;
    }
    .activite-picture {
        margin-bottom: 10px; 
    }
}

@media only screen and (min-width: 470px) {
    .page-container{
        margin: 0 10px 0 10px;
        width: auto;
    }
    body{        
        width: 100%;
    }
    .logo-picture {
        margin: 20px 0px 20px 60px;
    }

    .inscription{
        margin: 35px 60px 20px 60px;
    }   
    .header-title{
        display: inline-block;
        margin-top: 40px;
    } 
    .mobile-only{
        display: none;
    }
    .desktop-only{
        display: inherit;
    }
    .rechercher {        
        border-radius: 0px 15px 15px 0px;       
    }
    .cadre { 
        margin: 20px 40px 0 0;
    }    
    .info-text {
        display: inline;
    }
    .box1 {        
        float: none;
        width: 100%;
    }
    .hebergement{
        display: inline;
    } 
    .box2{
        width: 500px;  
        height: 680px;
        margin: 30px auto;
    }    
    .card-populaire {   
        margin: 20px 20px 0 80px;       
    }    
    .card-hebergement{
        margin: 20px auto;       
    }
    .h2-title-populaire {
        margin-left: 40px;    
    }
    .chart-logo {    
        margin-right: 110px;  
    }
    #ancre-hebergements {    
        margin-left: 40px;    
    }
    .afficher-plus, .activite-title {  
        margin-left: 20px;
    }
    .card-activite {
        margin: 20px auto;        
    }  

}

@media only screen and (min-width: 690px){
    .cadre{
        margin: 20px 50px 0 20px;
    }    
    .info-text {
        width: auto;
    }
    .cadre {
        margin: 20px 60px 0 20px;
    }
    .box2{
        width: 550px;
        margin: 0 20px 0 100px;
    }
    .card-populaire {
        margin: 10px auto;
    }
    #ancre-hebergements  {
        margin: 50px 100px 20px 100px;
    }
    .afficher-plus, .activite-title{
        margin: 20px 100px 20px 100px;
    }    
    .h2-title-populaire {        
        margin-bottom: 0;
    }
    .row-hebergement-2 {
        margin: 40px 40px 5px 100px;        
    }         
    .card-activite {
        margin: 0 0 20px 190px;
    }   
    .box4{
        height: 200px;
    }
    .footer-propos, .footer-hebergement, .footer-assistance {
        margin-left: 60px;
        float: left;
    }
}

@media only screen and (min-width: 800px) {    
    .box2 {    
        margin: auto 160px;
    }
    .card-populaire {
        margin: 20px 0 0 0;
    }   
    .card-hebergement{
        margin:  0 30%;
    }
    .card-activite{
        margin:  30px 30%;
    }     
    .cadre{
        margin: 20px 80px 0 20px;
    }   
}


@media only screen and (min-width: 880px) { 
    .cadre{
        margin: 0;
    }   
}

@media only screen and (min-width: 1024px){
    body {
        display: contents;
    }
    .topnav {
        display: grid;
        grid-template-columns:  1fr 2.2fr 0.6fr 0.6fr 0.6fr;
        grid-template-rows: 0.1fr;
        gap: 0px 0px;
        grid-template-areas:
            "logo . hebergement activite inscription";

        margin: 0 0 0 20px;
    }
    .logo-picture{
        grid-area: logo;
        margin: 20px 0px 0px 20px;
    }
    .inscription{
        grid-area: inscription;     
        margin: 25px 0px 0px 10px;
        width: 150px;
    } 
    .topnav-text-hebergement{
        grid-area: hebergement; 
        width: 150px;
        text-align: center;
        border-top: 3px solid #f2f2f2;
        border-bottom: none;
        padding: 26px 0 0 0;

    }
    .topnav-text-activite{
        grid-area: activite; 
        width: 150px;
        text-align: center;
        border-top: 3px solid #f2f2f2;
        border-bottom: none;
        padding: 26px 0 0 0;

    }
    .topnav-text-hebergement:hover {
        border-top: 5px solid #0065fc;
        border-bottom: none;

    }   
    .topnav-text-activite:hover {
        border-top: 5px solid #0065fc;
        border-bottom: none;

    }
    #signin{       
        font-size: initial;
    }    
    .filtre {
        display: inline-block; 
        margin: 30px 0 0 20px;        
        width: 100%;
    }
    .filtre-label{
        display: inline-block;
        float: left;
        margin: 0 40px 20px 0;
        padding: 15px 0 0 0;
    }
    .cadre-eco-fam{        
        float: left;
    }
    .cadre-economie, .cadre-famille,.cadre,.cadre-romantique{    
        margin: 0 20px 0 0;
    }
    .box2{
        width: 400px;       
        float: right;
        height: 880px;
        margin: 0;
    }
    .card-populaire {
        margin: 40px 0 0 0;       
    }  
    .hebergement-picture{
        width: 95%;
    }
    #ancre-hebergements, .activite-title {
        margin: 40px;
    }
    .h2-title-populaire {
        margin: 40px 0px 0px 40px;
    }
    .chart-logo {   
        margin: 35px 40px 40px 100px;
    }
    .row-hebergement-2 {
        margin: 0px 0px 0px 40px;
        display: block;
    }
    .row-hebergement-1 {
        margin: 0px 0px 0px 40px;        
    }      

    .box1{
        width: 580px;
        float: left;        
        display: inline-block;
        background-color: #F2F2F2;       
        border-radius: 20px;
        height: 880px;
    }
    .card-hebergement {
        margin: 0 10px 20px 0px;
        float: left;       
        height: 200px;
        width: 250px;
    } 
    .afficher-plus{
        margin: 20px ;
    }
    .box3{
        float: left;        
        height: 500px;
    }
    .row-activite-container{ 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 200px 220px;
        gap: 0px 30px;
        grid-template-areas:
            "vieux-port vieux-port pomegue pomegue calanques calanques notre-dame notre-dame"
            "vieux-port vieux-port frioul frioul calanques calanques longchamps longchamps";

        margin: 20px 0px 20px 10px;
    } 
    .card-vieux-port { 
        grid-area: vieux-port;
    }
    .card-Pomegues {
        grid-area: pomegue; 

    }
    .card-Frioul { 
        grid-area: frioul; 
        height: 70%;
        margin-top: 40px;
    }
    .card-Calangues {
        grid-area: calanques; 
    }
    .card-Dame-de-la-garde { 
        grid-area: notre-dame; 
    }
    .card-Longchamps { 
        grid-area: longchamps;     
        margin: 0 0 25px 0;

    }
    .card-activite {
        width: 100%;
        margin: auto;
        height: 90%;
    }    
    .picture-large {       
        height: 80%;
    }
    .picture-medium{
        height: 60%;
    }
    .picture-small{
        height: 45%;
    }
    .text-activite {   
        display: block;
    }
    .box4{       
        width: 100%;
        display: inline-block;
    }
    .footer-propos, .footer-hebergement, .footer-assistance {
        margin: auto 5%;
    }
}

@media only screen and (min-width: 1300px){
    .filtre{
        margin: 20px 0 0 20px;
        width: auto;
    }    
    .box1{
        width: 65%;
        height: 780px;
    }
    .box2{
        height: 780px;
        margin: 0 20px 0 0;
    }
    .afficher-plus{
        margin: 50px 0 0 50px;
    }       
    .card-hebergement{
        width: 30%;
        flex-wrap: wrap;
        display: flex;
        margin: 20px 10px 20px 10px;
    }
    .footer-hebergement, .footer-assistance {
        margin: 0 0 0 180px;
    }
    .rating-populaire-soleil, .rating-populaire-bleu, .rating-populaire-chambre {
        margin-top: 45px;
    }     
    .card-Dame-de-la-garde {         
        height: 180px;
    }
    .card-Longchamps {            
        margin: 0px 0 10px 0;
        height: 200px;

    } 
    .picture-large {       
        height: 85%;

    }
    .picture-medium{
        height: 68%;
    }
    .picture-small{
        height: 60%;
    }
}

@media only screen and (min-width: 1500px){  
    .page-container{
        width: 1460px;
        margin: 0 auto;
    }
    .box1{    
        height: 680px;
    }
    .chart-logo {
        margin: 35px 40px 10px 100px;
    }
    .box2{
        height:680px;
        width: 410px;
    }    
    .card-populaire{
        margin: 30px 10px 10px 30px;
        width: 345px;
        height: 145px;
    }
    .row-hebergement-2 {
        margin: 0px;
    }   
    .card-hebergement{
        width: 250px;
        height: 200px;
        margin: 30px 30px 0px 0;
    }
    .afficher-plus{
        margin: 30px 0 0 80px;
    }
    .footer-hebergement, .footer-assistance {
        margin: 0 0 0 250px;
    }
    .row-hebergement-1 {
        margin: 0px 0px 0px 80px;
    }    
    .card-vieux-port { 
        grid-area: vieux-port;
        width: 305px;
        height: 450px;
    }
    .card-Pomegues {
        grid-area: pomegue; 
        width: 300px;
        height: 240px;

    }
    .card-Frioul { 
        grid-area: frioul; 
        width: 300px;
        height: 165px;        
        margin-top: 55px;
    }
    .card-Calangues {
        grid-area: calanques; 
        width: 300px;
        height: 450px;
    }
    .card-Dame-de-la-garde { 
        grid-area: notre-dame; 
        width: 300px;
        height: 195px;
    }
    .card-Longchamps { 
        grid-area: longchamps; 
        width: 300px;
        height: 210px;
        margin: 15px 0 0 0;
    }
    .row-activite-container {      
        margin: 20px 0px 20px 40px;
    }
    .activite-title {
        margin-left: 50px;
    }
}

@media only screen and (min-width: 1800px){    
    .topnav{
        margin: 0px 0 0 20px;
    } 
}



