@font-face {
    font-family:'Raleway', sans-serif;

}

body{
    margin: 3.75em;
    font-family: 'Raleway',Arial, Helvetica, sans-serif;

}
/* --------------------------------Style the Nav ----------------------------------------------*/
.topnav {
    position: relative;
    display: flex;
    margin: 16px;  
}
.topnav a {
    color: #0065fc;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    text-decoration: none;
}

/* -----------------------------Style the nav-right --------------------------------------------*/
.topnav-right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: auto;
    font-size: 17px;
    color: #0065fc;
}
.topnav-text {
    flex:  0 1 auto;
    margin: 20px;
    justify-content: flex-end;
}
#signin{
    font-weight: bold;   
    border: none;
}


/* -------------------------Style the nav-logo---------------------------------------------------- */
.logo{
    display: inline-block;
    flex:  1 1 auto;
    margin: 0 auto;
    justify-content: flex-start;
    width: 50px;
    height: 50px;
}



/* ------------------------For the  active/current Nav------------------------------------------- */
.topnav-text:active {
    border-top: 5px solid #0065fc;
}

/* ------------------------Responsive navigation menu (for mobile devices)----------------------- */
@media screen and (max-width: 600px) {
    .topnav a, .topnav-right {
        float: none;
        display: block;
    }

    .topnav-centered a {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }
}

/*--------------------------Style Headers Search----------------------------------------------------------*/
.container-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: auto;
    width: 31.4em;
    background-color: #f2f2f2;
    overflow: auto;
    border-radius: 20px 20px 20px 20px;
    margin: 0;
    padding: 0;

}

.flex {
    padding: 10px;  
    border: 5px solid #0065FC;
    font-size: 20px;
    text-align: center;

}
.home{
    background-color: #f2f2f2;
    border: 5px solid #f2f2f2;
    width: 2.5em; 
}

#adress-text{
    background-color: white;
    border: 2px solid #f2f2f2;
    padding-left: 20px;
    font-weight: bold;
    font-size: 20px;

}

.rechercher{
    background-color : #0065FC;
    border-radius: 00px 20px 20px 0px;
    color: white;
}


@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: inline;
    }
}

/*--------------------------Style Headers Filtering---------------------------*/
.filtre, .filtre-label{
    display: inline-block;
    margin-right: 33px;
    margin-top: 30px;
}

.filtre-label{
    display: inline-block;
    margin-right: 33px;
    font-size: 20px;
    font-weight: bold;
}

.cadre{
    display: inline-block;
    height: 50px;     
    border-radius: 25px;
    border-top:  1px solid  black;
    border-bottom:   1px solid  black;
    border-right:  1px solid  black;
    border-left: 1px solid  #deebff;
    margin-right: 33px;
}

.cadre:hover{
    background-color: #deebff;
}

.filtre-logo-container{
    display: inline-block;
    border-radius: 25px;
    background-color: #deebff;
    width: 50px; 
    height: inherit;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
}

.filtre-logo{
    font-size: 20px;
    text-align: center;
    margin: 15px;
}

.filtre-text-container{
    display: inline-block;
    padding-right: 20px;
    padding-left: 15px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 25px;
}

.info-container{
    margin: 30px 0 30px 0;
}

.info-label{
    display: inline-block;
    border-radius: 50px;
    border:  1px solid #deebff;
    width: 50px; 
    height: 50px;
    font-size: 15px;
    text-align: center;

}

.info-text{
    display: inline-block;
}

.info-logo{
    font-size: 20px;
    text-align: center;
    margin: 15px;
    color: #0065FC;

}

/*--------------------------Style Section 1 Hebergement---------------------------*/
.hebergement{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    grid-auto-rows: minmax(100px, auto);
}



.box1{
    float: left;
    background-color: #F2F2F2;
    width: 1050px;
    height: 700px;
    text-align: left;
    grid-column: 1 / 3;
    grid-row: 1;
    border-radius: 3%;
}



.h2-title, .afficher-plus{
    margin-left:40px;
    font-weight: bolder;
}

.column-hebergement {
    float: left;
    width: 250px;
    margin: 0 40px 40px 40px;
    padding: 0 10px;
}

.row-hebergement-1:after {
    content: "";
    display: table;
    clear: both;
}



.card-hebergement {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f2f2f2;
    width: 240px;
    height: 200px;
    border-radius:10%;
}

.hebergement-picture{
    width: 240px;
    height: 114px;
    border-radius: 10px 10px 0px 0px;
}

.card-text{
    text-align: left;
    margin-left: 20px 
}

.checked {
    color:  #0065FC;
}

.nochecked{
    color:#D3D3D3;
    margin-bottom: 20px;

}

.rating-hebergement{
    margin: 15px 0 0 0;
}

.title-card{
    margin: 0 0 15px 0;

}
/* Responsive columns */
@media screen and (max-width: 600px) {
    .box1 {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/*--------------------------Style Section 1 Populaire---------------------------*/
.box2{
    float: right;
    background-color: #F2F2F2;
    grid-column: 3/ 3;
    grid-row: 1;
    height: 700px;
    width: 445px;
    border-radius: 3%;
}

.column-populaire{
    background-color: #F2F2F2;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-populaire {
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 5px 0 5px 5px;
    margin: 0 0 40px 40px;
    text-align: left;
    background-color: #f2f2f2;
    width: 340px;
    height: 140px;
    border-radius:10%;
}

.populaire-picture{
    float:left;
    padding: 1px;
    margin-right: 20px;
    width: 130px;
    height: 133px;
    border-radius: 10px 0px 0px 10px;
}

.card-populaire-text{
    float:right;

    margin-left: 20px 
}

.rating-populaire{
    margin-top: 45px;
}


/*--------------------------Style Section 2 Activite---------------------------*/
.box3{
    width: 100%;
}

.row-activite {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.container-activite-large {
    padding: 2px 16px;
    width: 307px;
    height: 445px;
}

.column-activite {
    flex: 1;


}

.card-activite {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 305px;
}

.card-activite-large{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 305px;
    height: 400px;
    border-radius: 10px 10px 0px 0px;
}


.container-activite {
    padding: 2px 16px;
}

.activite-picture{
    float:left;
    padding: 1px;
    margin-right: 20px;
    width: 305px;
    height: 181px;
    border-radius: 10px 0px 0px 10px;
}

.activite-picture-large{
    float:left;
    padding: 1px;
    margin-right: 20px;
    width: 304px;
    height: 350px;
    border-radius: 10px 10px 0px 0px;
}